# AWS ECR
ECR_REGISTRY=<aws-account-id>.dkr.ecr.<region>.amazonaws.com
IMAGE_TAG=latest

# Database (external server)
DB_USERNAME=nihongo
DB_PASSWORD=change-me
DB_HOST=<db-host>
DB_PORT=5432
DB_NAME=nihongo_db
